/* CSS Styles
––––––––––––––––––––––––––––––––––––––––––––––––––
	1. Main
*/


/* Reset classes */

input {
	-webkit-appearance: none;
	appearance: none;
	-webkit-border-radius: 0px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type=number] {
	padding-left: 0;
	padding-right: 0;
}

ul,
menu,
dir {
	margin: 0;
}

menu {
	padding: 0;
}

*:before,
*:after {
	text-transform: uppercase;
}

label,
.uppercase {
	text-transform: uppercase;
}

.capitalize {
	text-transform: capitalize;
}

.hidden {
	display: none;
}


/* 1. Main
–––––––––––––––––––––––––––––––––––––––––––––––––– */

html {
	;
	-webkit-font-smoothing: antialiased;
	-webkit-font-feature-settings: "kern";
	-moz-font-feature-settings: "kern";
	-moz-font-feature-settings: "kern=1";
	-ie-font-feature-settings: kern on, liga on;
	-khtml-font-feature-settings: kern on, liga on;
	-moz-font-feature-settings: kern on, liga on;
	-ms-font-feature-settings: kern on, liga on;
	-o-font-feature-settings: kern on, liga on;
	-webkit-font-feature-settings: kern on, liga on;
	text-rendering: optimizeLegibility;
	font-feature-settings: "kern";
	font-feature-settings: "kern" 1, "liga" 1;
	font-smoothing: antialiased;
	font-kerning: normal;
	font-family: sans-serif;
	font-size: 10px;
	font-weight: 300;
	-webkit-text-size-adjust: none;
	overflow-x: hidden;
	overflow-y: auto;
	background: #b67245 url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='88' height='24' viewBox='0 0 88 24'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='autumn' fill='%23eae499' fill-opacity='0.4'%3E%3Cpath d='M10 0l30 15 2 1V2.18A10 10 0 0 0 41.76 0H39.7a8 8 0 0 1 .3 2.18v10.58L14.47 0H10zm31.76 24a10 10 0 0 0-5.29-6.76L4 1 2 0v13.82a10 10 0 0 0 5.53 8.94L10 24h4.47l-6.05-3.02A8 8 0 0 1 4 13.82V3.24l31.58 15.78A8 8 0 0 1 39.7 24h2.06zM78 24l2.47-1.24A10 10 0 0 0 86 13.82V0l-2 1-32.47 16.24A10 10 0 0 0 46.24 24h2.06a8 8 0 0 1 4.12-4.98L84 3.24v10.58a8 8 0 0 1-4.42 7.16L73.53 24H78zm0-24L48 15l-2 1V2.18A10 10 0 0 1 46.24 0h2.06a8 8 0 0 0-.3 2.18v10.58L73.53 0H78z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

body {
	overflow-x: hidden;
	overflow-y: auto;
	max-width: 400px;
	width: 100%;
	margin: 5rem auto;
	box-shadow: 5px 7px 10px rgba(0, 0, 0, 0.4);
	border-radius: 4px;
	padding: 1.5rem;
	background: #fff url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200' height='200'%3E%3Cfilter id='paper4' width='1' height='1' x='0' y='0'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.9' numOctaves='3'/%3E%3CfeConvolveMatrix order='5 5' targetY='2' targetX='2' kernelMatrix='-2 0 0 0 -2 0 -2 0 -2 0 0 0 -10 0 0 0 -2 0 -2 0 -2 0 0 0 -2'/%3E%3C/filter%3E%3Crect height='200' width='200' style='filter: url(%23paper4);opacity: 0.3'/%3E%3C/svg%3E");
}

h1 {
	text-align: center;
}

ul {
	padding: 1em;
}

li {
	padding: 1em;
	border-radius: 4px;
	background: #f1d8a5;
}

li:not(:last-of-type) {
	margin-bottom: 3px;
}

li>div {
	border-top: 1px solid;
	padding-top: 0.25em;
	margin-top: 0.75em;
}

li>div:hover {
	text-decoration: underline;
}

ul {
	overflow-y: auto;
	overflow-x: hidden;
}