<html
	ng-controller="MainController as main" ng-app="demoApp"
>
		<link rel="stylesheet" href="css/main.min.css">
		<script src="js/main.min.js"></script>

		<h1>Employee list</h1>
		<ul>
			<li ng-repeat="i in main.employeeList" employee item="i" ng-click="i.toggle()"></li>
		</ul>
</html>
